
<div class="container my-5 view-student">
    <div class="row justify-content-center">
        <div class="col-md-3">
            <a href="/student" class="btn btn-sm btn-primary">back</a>
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">View Student</h2>
                </div>
                <div class="card-body">
                    <div class="my-3">
                    <img  src="/images/student-image/<%= viewStudent.photo %> " alt="">
                    <h3><%= viewStudent.name %> </h3>
                    <h4><%= viewStudent.email %> </h4>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>